<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>16/08/02 21:16:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin()[pri:0, instance:ru.ok.test.LoginTest@bd4dc25]">testLogin</td> 
  <td>main@501705927</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>16/08/02 21:17:02</td>   <td>23223</td> <td>&nbsp;</td><td title="&lt;&lt;BasicTestCase.tearDown()[pri:0, instance:ru.ok.test.LoginTest@bd4dc25]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@501705927</td>   <td></td> </tr>
</table>
